<nav class="navbar">
    <a href="/transactions" class="button">Account Transactions</a>
    <a href="/analysis" class="button">Account Analysis</a>
    <a href="/invoice" class="button">Invoice</a>
</nav>
