<nav class="navbar">
    <a href="/transactions" class="button">Account Transactions</a>
    <a href="/analysis" class="button">Account Analysis</a>
    <a href="/statement" class="button">Statement</a>
</nav>
