<html>

<head>
    <link rel="stylesheet" href="../invoice.zoho.css">
</head>

<body>
    <div class="pcs-template-footer">
        <div class="pcs-footer-content">
            <div class="page" title="Page 1">
                <div class="layoutArea">
                    <div class="column">
                        <p></p>
                        <div class="pcs-footer-text">
                            <div>
                                Business Registration Number: I23007094
                            </div>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>
