<%- include('partials/header')%>

<!-- send back the content of the file -->
<%- include('partials/navbar')%>

<main class="main">
    <header class="header">
        <h1>List of accounts</h1>
    </header>

    <section class="container">
        <!-- Create a div where the graph will take place -->
        <div id="dataviz"></div>
    </section>
</main>

<script type="module" src="/js/txanalysis.js"></script>

<%- include('partials/footer')%>
