<%- include('partials/header')%>

<!-- send back the content of the file -->
<%- include('partials/navbar')%>

<main class="main">
    <section class="container">
        <h3>Bank Statement</h3>
    </section>
</main>

<%- include('partials/footer')%>
